/* ↓ Reseting properties ↓ */

body {
	font-family: "Roboto", sans-serif;
	color: #434455;
	background-color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

img {
	display: block;
}

button {
	cursor: pointer;
}

/* ↑ Reseting properties ↑
————————————————————————————
  ↓ Containers styles ↓ */

.section {
	padding: 120px 0;
}

.container { 
	max-width: 1158px;
	margin: 0 auto;
	padding: 0 15px
}

/* ↑ Containers styles ↑
————————————————————————————
  ↓ Header styles ↓ */

.header-page {
	border-bottom: 1px solid #E7E9FC;
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-page .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-nav {
	display: flex;
	align-items: center;
}

.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-decoration: none;
	color: #4D5AE5;
}

.header-page .logo {
	margin-right: 76px;
}

.header-page .logo-part {
	color: #2E2F42;
}

.header-nav-list {
	display: flex;
	gap: 40px;
}

.header-nav-item {}

.header-nav-link {
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #2E2F42;
	text-decoration: none;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts {
	font-style: normal;
}

.header-contacts-list {
	display: flex;
	gap: 40px;
}

.header-contacts-item {}

.header-contacts-link {
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
	text-decoration: none;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-page a {
	padding: 24px 0;
}

.header-nav-item:first-child .header-nav-link {
	color: #404BBF;
	position: relative;
}

.header-page a:hover,
.header-page a:focus {
	color: #4D5AE5;
}

.header-nav-item:first-child .header-nav-link::after {
	content: "";
	display: block;
	position: absolute;
	bottom: -1px;

	border-radius: 2px;
	height: 4px;
	width: 48px;
	background-color: #404BBF;
}

/* ↑ Header styles ↑
————————————————————————————
  ↓ Hero section styles ↓ */

.hero {
	max-width: 1440px;
	margin: auto;
	padding: 188px 0;
	
	background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero-heading {
	max-width: 496px;
	margin: 0 auto 48px;

	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;
	text-align: center;
	color: #fff;
}

.hero-button {
	display: block;
	margin: auto;
	min-width: 169px;

	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	padding: 16px 32px;
	border-radius: 4px;
	border: none;
	color: #fff;
	background: #4d5ae5;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.hero-button:hover,
.hero-button:focus {
	background-color: #404bbf;
}

/* ↑ Hero section styles ↑
————————————————————————————
  ↓ Benefits section styles ↓ */

.benefits {}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.benefits-list {
	display: flex;
	gap: 24px;
}

.benefits-item {}

.benefits-icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 112px;
	background-color: #F4F4FD;
	border-radius: 4px;
	border: 1px solid #8E8F99;
	margin-bottom: 8px;
}

.benefits-subtitle {
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2E2F42;
}

.benefits-desc {	
	line-height: 1.5;
	letter-spacing: 0.02em;
}

/* ↑ Benefits section styles ↑
————————————————————————————
  ↓ Team section styles ↓ */

.team {
	background-color: #F4F4FD;
}

.team-heading {
	margin-bottom: 72px;
	text-transform: capitalize;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	color: #2E2F42;
}

.team-list {
	display: flex;
	gap: 24px;
	text-align: center;
}

.team-item {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
}

.team-image-info {
	padding: 32px 0;
}

.employee-name {
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2E2F42;
}

.employee-position {
	margin-bottom: 8px;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.team-social-list {
	display: flex;
	justify-content: center;
	gap: 24px
}

.social-item {
	width: 40px;
	height: 40px;
	display: flex;
}

.social-link {
	width: 100%;
	height: 100%;
	background-color: #4D5AE5;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.team .social-link:hover,
.team .social-link:focus {
	background-color: #404BBF;
}

.social-icon {
	fill: #F4F4FD;
}

/* ↑ Team section styles ↑
————————————————————————————
  ↓ Portfolio section styles ↓ */


.portfolio {}

.portfolio-heading {
	margin-bottom: 72px;
	text-transform: capitalize;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	color: #2E2F42;
}

.portfolio-list {
	display: flex;
	gap: 24px;
	flex-wrap: wrap;
}

.portfolio-item {
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
	cursor: pointer;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay-box {
	position: relative;
	overflow: hidden;
}

.overlay {
	position: absolute;
	top: 0;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #F4F4FD;
	padding: 40px 32px;
	background-color: #4D5AE5;
	height: 100%;
	width: 100%;
	transform: translateY(100%);

	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-info {
	padding: 32px 16px;
	border-right: 1px solid #E7E9FC;
	border-bottom: 1px solid #E7E9FC;
	border-left: 1px solid #E7E9FC;
}

.portfolio-name {
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2E2F42;
}

.portfolio-product {
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.portfolio-item:hover .overlay {
	transform: translateY(0%);
}

/* ↑ Portfolio section styles ↑
————————————————————————————
  ↓ Footer styles ↓ */

.footer-page {
	padding: 100px 0;
	background-color: #2e2f42;
}

.footer-page .container {
	display: flex;
	align-items: baseline;
}

.footer-web-info {
	width: 264px;
	margin-right: 120px
}

.footer-page .logo {
	display: inline-block;
	margin-bottom: 16px;
}

.footer-page .logo-part {
	color: #F4F4FD;
}

.footer-desc {
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #F4F4FD;
}

.footer-social-info {

}

.social-info-heading {
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	margin-bottom: 16px;
}

.social-info-list {
	display: flex;
	gap: 16px;
}

.footer-page .social-link:hover,
.footer-page .social-link:focus {
	background-color: #31D0AA;
}